@using E_Store.WebUI.Models
@model ProductListViewModel


@{
    ViewBag.Title = "Товары";
}

<h2>List</h2>
@foreach (var item in Model.Products)
{
    <h2>@item.Name</h2>
    <p>@item.Description</p>
    <h3>@item.Price.ToString("$")</h3>
}



