@using E_Store.WebUI.Models
@using E_Store.WebUI.HtmlHelpers;
@model ProductListViewModel


@{
    ViewBag.Title = "Товары";
}

<h2>@ViewBag.Title</h2>
@foreach (var item in Model.Products)
{
    @Html.Partial("ProductSummary", item)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x=>Url.Action("List", new { page=x, category=Model.CurrentCategory}))   
</div>



