@using E_Store.WebUI.Models
@using E_Store.WebUI.HtmlHelpers;
@model ProductListViewModel


@{
    ViewBag.Title = "Товары";
}

<h2>List</h2>
@foreach (var item in Model.Products)
{
    <h2>@item.Name</h2>
    <p>@item.Description</p>
    <h3>@item.Price.ToString()</h3>
}
<div>
    @Html.PageLinks(Model.PagingInfo, x=>Url.Action("List", new { page=x}))   
</div>



